<!doctype html>

<html lang="en">
<head>
    <title>FootTracker MapApp</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
    integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
    crossorigin=""/>

    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />

    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
    integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
    crossorigin=""></script>

    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>
    
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"> 

    <link href="/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- # Menubar: Menubar on the top -->
    <div class="row">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"> FootTracker</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
        <form id="searchID" class="navbar-form navbar-left">
        <div class="input-group">
          <span>Find</span>
        </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="restaurants, hotels, etc." id="search-input" name="search[term]">
          </div>
        </form>
        <form id="searchLocation" class="navbar-form navbar-left">
          <div class="input-group">
            <span>Near</span>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" id="location-search" name="search[location]" placeholder="address, neighborhood, city, state, or zip" />
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
        <button id="btn_current" class="btn btn-default" value="gray">Current Location</button>
      </div>
    </nav>
    </div> <!-- End of menu on the top -->
    
    <div class="row">
        <!-- # Menubar: Menubar on the left -->
        <div class="col-md-2 menu">
           <button id="btn_restaurants" class="btn btn-success" value="color">Restaurants</button>
           <button id="btn_hotels" class="btn btn-success" value="color">Hotels</button>
           <button id="btn_beach" class="btn btn-success" value="color">Beach</button>
           <button id="btn_all" class="btn btn-alert" value="color">All</button>
           <!--<button id="btn_redcircles" class="btn btn-default" value="color">Red Circles</button>
           <button id="btn_orangecircles" class="btn btn-default" value="color">Orange Circles</button>
           <button id="btn_yellowcircles" class="btn btn-default" value="color">Yellow Circles</button>
           <button id="btn_markers" class="btn btn-default" value="gray">Markers</button>-->
        </div>
        
        <!-- # Map: Main map part -->
        <div class="col-md-10 map">
            <div id="mapid"></div>
            
            <div class="panel panel-success">
              <div class="panel-heading">Places in area</div>
              <div class="panel-body">
                <table class="table table-hover"><thead>
                    <tr>
                      <th>Place</th>
                      <th>Review Count</th>
                      <th>Rating</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody id="panel_info">
                    
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
	<div id="mapCtrl"></div>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa5u0jiFE4DNOxTMh8iTB-JHumUeZHomU&libraries=places&callback=initAutocomplete" async defer></script>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script>

  var currLoc;
  $( "#searchID" ).submit(function( event ) {
    console.log(currLoc);
    var numInputs = $("#searchID input").length;
    console.log(numInputs);
    if (numInputs === 1) {
      console.log("no inputs");
      $('<input />').attr('type', 'hidden')
          .attr('name', "search[current]")
          .attr('value', JSON.stringify(currLoc))
          .appendTo('#searchID');
          console.log("posted waiting for success");
    }
    event.preventDefault();
    $.post("/test", $("#searchID").serialize(), yelpSearchSuccess);
  });

  $( "#searchLocation" ).submit(function( event ) {
    event.preventDefault();
    $.post("/test", $("#searchLocation").serialize(), yelpSearchSuccess);
  });


  function yelpSearchSuccess(result){
    //You can get businesses which is returned as an array in this json format
    /*
      "businesses": [
    {
      "rating": 4,
      "price": "$",
      "phone": "+14152520800",
      "id": "four-barrel-coffee-san-francisco",
      "is_closed": false,
      "categories": [
        {
          "alias": "coffee",
          "title": "Coffee & Tea"
        }
      ],
      "review_count": 1738,
      "name": "Four Barrel Coffee",
      "url": "https://www.yelp.com/biz/four-barrel-coffee-san-francisco",
      "coordinates": {
        "latitude": 37.7670169511878,
        "longitude": -122.42184275
      },
      "image_url": "http://s3-media2.fl.yelpcdn.com/bphoto/MmgtASP3l_t4tPCL1iAsCg/o.jpg",
      "location": {
        "city": "San Francisco",
        "country": "US",
        "address2": "",
        "address3": "",
        "state": "CA",
        "address1": "375 Valencia St",
        "zip_code": "94103"
      },
      "distance": 1604.23,
      "transactions": ["pickup", "delivery"]
    },
    // ...
  ],


  Typically you can retrieve it after you stringify it then parse it as shown below.
  then they give you an array of businesses

  You can iterate through the array and reference them through dot notation as shown below
  */
    console.log("successful search Callback entering extraction");
    var strResult = JSON.stringify(result.businesses);
    var javaObject = JSON.parse(strResult);
    console.log(javaObject[0].review_count);
    placeMarkers(javaObject);
  }

  /* Array to store search result */
  var places = new Array;

  /* Markers to be displayed on the map */
  //var markers_on_map = new L.layerGroup();
  var markers_on_map = new L.MarkerClusterGroup();

  //var markerCluster = new L.MarkerClusterGroup();

  function placeMarkers(businesses) { 

    markers_on_map.clearLayers();

    console.log("given businesses: " + businesses);
    document.getElementById("panel_info").innerHTML = "";
    for(var i = 0; i < businesses.length; i++) {

      var marker = L.marker([businesses[i].coordinates.latitude, businesses[i].coordinates.longitude]).bindPopup(
        "<b>Place</b><br/>" + "Name: " + 
        businesses[i].name + "<br> Rating: " + businesses[i].rating).addTo(markers_on_map);


        places[i] = businesses[i];
        /* Show informations to info panel on the bottom */
        document.getElementById("panel_info").innerHTML += 
        "<tr id='panel_info'><td>" + places[i].name + "</td><td>" + places[i].review_count + "</td><td>" + places[i].rating + "</td><td>" + places[i].price + "</td></tr>";

        //markerCluster.addLayer(marker);
    }

    //var markerCluster = new L.MarkerClusterGroup();

    for (var i = 0; i < businesses.length; i++) {
        
    }

    //markerCluster.addLayer(marker);

    //mymap.addLayer(markerCluster);
    markers_on_map.addTo(mymap);
  }



  
  </script>
    <script src = "/js/map.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
</body>

</html>